.card .drunk-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: wine 2s ease-in-out infinite;
    color: var(--brown-text);
}

@keyframes wine {
    0% {
        background-color: rgba(0, 255, 0, 0.1);
    }
    50% {
        background-color: rgba(0, 255, 0, 0.2);
    }
    100% {
        background-color: rgba(0, 255, 0, 0.1);
    }
}

.card .dead-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: none;
}

.card {
    width: 45%;
    aspect-ratio: 2/3;
    background-color: var(--brown-menu);
    border-radius: 20px;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card .background-card {
    width: 100%;
    height: calc(2/3*100%);
    border-radius: 20px 20px 0 0;
    display: flex;
}

.card .background-card img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 200px;
}

.card .player-info {
    text-align: center;
    background-color: var(--brown-menu);
    color: var(--brown-text);
    height: calc(1/3*100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    z-index: 1;
}

.card .player-info h3, .card .player-info p {
    margin: 0;
    padding: 0;
}

.card .player-info .stat {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .player-info .stat span {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .player-info .stat img {
    height: 100%;
    animation: glow 2s ease-in-out infinite;
    filter: drop-shadow(0 0 5px var(--brown-text));
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px var(--brown-text));
    }
    50% {
        filter: drop-shadow(0 0 15px var(--brown-text));
    }
    100% {
        filter: drop-shadow(0 0 5px var(--brown-text));
    }
}

.card .player-info p {
    font-size: 12px;
    line-height: 16px;
    height: 25%;
}

.card .player-info h3 {
    height: 40%;
    font-size: 24px;
    line-height: 28px;
}
